{% extends 'main.html' %}

{% block content %}
    <center><h2>Homepage</h2></center>

    <style>
        p {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #333;
    text-align: justify;
    margin: 20px auto;
    padding: 15px 20px;
    max-width: 900px;
    background-color: lightblue;
    border-left: 5px solid #4CAF50;
    border-radius: 6px;
    }

    h2 {
    text-align: center;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 32px;
    color: black;
    margin: 20px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
   }


    body {
        
        
        background: linear-gradient(135deg, #1e3a8a, #2563eb);
        
        
    }



    </style>

<p>Education is the process of gaining knowledge, skills, values, and understanding 
through learning, teaching, and experience. It helps individuals develop critical thinking,
build careers and contribute positively to society. Education is the foundation for personal 
and social development. It involves acquiring knowledge, skills, attitudes and values
through formal schooling, informal learning and real-life experiences. Education improves 
critical thinking, problem-solving abilities and communication skills, enabling individuals to 
achieve career goals, make informed decisions and contribute to the growth of society and the nation.
Education plays a vital role in a student’s life as it shapes their future and personality. It helps students
gain knowledge, develop critical thinking, and improve problem-solving skills. Through education, students
learn discipline, values, and social skills that prepare them to face real-life challenges. It also opens
doors to better career opportunities, builds confidence, and encourages creativity and innovation.
Overall, education empowers students to become responsible, independent and successful individuals in society.</p>
    
{% endblock %}